<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Bookshelf</title>
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="preload" as="image" href="images/brown-wooden-textured-flooring-background.jpg">

    <script src="index.js"></script>
  </head>

  <body>
    <header>
      <h1>My Bookshelf</h1>
      <div id = "header-func">
      <form action="/add" method="post">
        <button type="submit">Add</button>
      </form>

      <form action="/process-form" method="POST">
    <label for="dropdown">Order by:</label>
    <select id="dropdown" name="selectedOption">
      <option value="---" disabled selected></option>
      <option value="Recency" <%= selectedOption === "Recency" ? 'selected' : '' %>>Most recent</option>
      <option value="Rating" <%= selectedOption === "Rating" ? 'selected' : '' %>>Rating</option>
    </select>
    </form>
  </div>
    </header>
    <main>